In [1]:
import requests
import pandas as pd

# Step 1: Get data for Jaipur
API_KEY = "470d8152fada130825799f3d4f4a54ca"
CITY = "Jaipur"
url = f"https://api.openweathermap.org/data/2.5/weather?q={CITY}&appid={API_KEY}"

data = requests.get(url).json()

# Step 2: Convert JSON to DataFrame
df = pd.json_normalize(data)
df

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.sea_level,main.grnd_level,wind.speed,wind.deg,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,3000,1762610935,19800,1269515,Jaipur,200,75.8167,26.9167,...,1016,968,2.06,350,0,1,9170,IN,1762564277,1762603781

In [2]:
df_selected= df[[
    "name",
     "dt",
    "coord.lat",
    "coord.lon",
    "main.temp",
    "main.humidity",
    "wind.speed",
    "weather"
]]
df_selected

,name,dt,coord.lat,coord.lon,main.temp,main.humidity,wind.speed,weather
0,Jaipur,1762610935,26.9167,75.8167,294.77,35,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h..."

In [3]:
# Convert temperature from Kelvin to Celsius
df_selected["temp_celsius"] = (df_selected["main.temp"] - 273.15).round(1)

# Convert timestamp (dt) into readable date time
df_selected["date_time"] = pd.to_datetime(df_selected["dt"], unit='s')

C:\Users\DELL\AppData\Local\Temp\ipykernel_21644\3328565541.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected["temp_celsius"] = (df_selected["main.temp"] - 273.15).round(1)
C:\Users\DELL\AppData\Local\Temp\ipykernel_21644\3328565541.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected["date_time"] = pd.to_datetime(df_selected["dt"], unit='s')

In [4]:
df_selected

,name,dt,coord.lat,coord.lon,main.temp,main.humidity,wind.speed,weather,temp_celsius,date_time
0,Jaipur,1762610935,26.9167,75.8167,294.77,35,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h...",21.6,2025-11-08 14:08:55

In [5]:
df_selected["weather_main"]=df_selected["weather"].apply(lambda x:x[0]["main"])
df_selected["description"]=df_selected["weather"].apply(lambda x:x[0]["description"])

C:\Users\DELL\AppData\Local\Temp\ipykernel_21644\620149080.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected["weather_main"]=df_selected["weather"].apply(lambda x:x[0]["main"])
C:\Users\DELL\AppData\Local\Temp\ipykernel_21644\620149080.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected["description"]=df_selected["weather"].apply(lambda x:x[0]["description"])

In [6]:
df_selected

,name,dt,coord.lat,coord.lon,main.temp,main.humidity,wind.speed,weather,temp_celsius,date_time,weather_main,description
0,Jaipur,1762610935,26.9167,75.8167,294.77,35,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h...",21.6,2025-11-08 14:08:55,Haze,haze

In [7]:
def risk(row):
    if row["wind.speed"]>10 or row["temp_celsius"] > 40 or row["temp_celsius"] < 5:
        return "High"
    return "Low"
df_selected["risk_level"]=df_selected.apply(risk,axis=1)

C:\Users\DELL\AppData\Local\Temp\ipykernel_21644\3809073036.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected["risk_level"]=df_selected.apply(risk,axis=1)

In [8]:
df_selected

,name,dt,coord.lat,coord.lon,main.temp,main.humidity,wind.speed,weather,temp_celsius,date_time,weather_main,description,risk_level
0,Jaipur,1762610935,26.9167,75.8167,294.77,35,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h...",21.6,2025-11-08 14:08:55,Haze,haze,Low

In [9]:
# Drop unwanted technical columns
df_selected_clean = df_selected[[
      "name",
    "dt",
    "coord.lat",
    "coord.lon",
    "main.temp",
    "main.humidity",
    "wind.speed",
    "weather"
]]

df_selected_clean.rename(columns={
    "name": "city",
    "coord.lat": "lat",
    "coord.lon": "lon",
    "main.humidity": "humidity",
    "wind.speed": "wind_mps"
}, inplace=True)

df_selected_clean

C:\Users\DELL\AppData\Local\Temp\ipykernel_21644\3946265154.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected_clean.rename(columns={

,city,dt,lat,lon,main.temp,humidity,wind_mps,weather
0,Jaipur,1762610935,26.9167,75.8167,294.77,35,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h..."

In [10]:
import os

file_path = "weather_data2.csv"

if os.path.exists(file_path):
    df_selected.to_csv(file_path, mode='a', header=False, index=False)
else:
    df_selected.to_csv(file_path, index=False)

In [11]:
cities = ["Delhi", "Mumbai", "Jaipur", "Kolkata", "Bangalore", "Chennai", "Hyderabad", "Pune"]

all_data = []

for city in cities:
    url = f"https://api.openweathermap.org/data/2.5/weather?q={city}&appid={API_KEY}"
    data = requests.get(url).json()
    df_city = pd.json_normalize(data)   # already normalized
    all_data.append(df_city)

# ✅ Correct way: combine all rows
df_all = pd.concat(all_data, ignore_index=True)

df_all

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.grnd_level,wind.speed,wind.deg,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset,wind.gust
0,"[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,2300,1762611180,19800,1273294,Delhi,200,77.2167,28.6667,...,989,1.03,0,0,1,9165,IN,1762564099,1762603288,NaN
1,"[{'id': 711, 'main': 'Smoke', 'description': '...",stations,3000,1762611360,19800,1275339,Mumbai,200,72.8479,19.0144,...,1012,3.60,10,7,1,9052,IN,1762564333,1762605151,NaN
2,"[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,3000,1762610935,19800,1269515,Jaipur,200,75.8167,26.9167,...,968,2.06,350,0,1,9170,IN,1762564277,1762603781,NaN
3,"[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,3500,1762611188,19800,1275004,Kolkata,200,88.3697,22.5697,...,1011,4.12,300,1,1,9114,IN,1762560892,1762601141,NaN
4,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,6000,1762611581,19800,1277333,Bengaluru,200,77.6033,12.9762,...,916,4.92,35,20,2,2105374,IN,1762562730,1762604472,12.96
5,"[{'id': 701, 'main': 'Mist', 'description': 'm...",stations,5000,1762611117,19800,1264527,Chennai,200,80.2785,13.0878,...,1012,5.36,27,40,2,2104103,IN,1762562096,1762603821,8.05
6,"[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,5000,1762611351,19800,1269843,Hyderabad,200,78.4744,17.3753,...,951,2.06,10,0,1,9214,IN,1762562854,1762603929,NaN
7,"[{'id': 800, 'main': 'Clear', 'description': '...",stations,10000,1762611488,19800,1259229,Pune,200,73.8553,18.5196,...,942,2.70,287,10,2,2096426,IN,1762564052,1762604949,2.86

In [12]:
# Select only useful columns from multi-city data
df_clean = df_all[[
    "name",
    "dt",
    "coord.lat",
    "coord.lon",
    "main.temp",
    "main.humidity",
    "wind.speed",
    "weather"
]].copy()

df_clean

,name,dt,coord.lat,coord.lon,main.temp,main.humidity,wind.speed,weather
0,Delhi,1762611180,28.6667,77.2167,294.20,43,1.03,"[{'id': 721, 'main': 'Haze', 'description': 'h..."
1,Mumbai,1762611360,19.0144,72.8479,302.14,61,3.60,"[{'id': 711, 'main': 'Smoke', 'description': '..."
2,Jaipur,1762610935,26.9167,75.8167,294.77,35,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h..."
3,Kolkata,1762611188,22.5697,88.3697,300.12,47,4.12,"[{'id': 721, 'main': 'Haze', 'description': 'h..."
4,Bengaluru,1762611581,12.9762,77.6033,295.85,67,4.92,"[{'id': 801, 'main': 'Clouds', 'description': ..."
5,Chennai,1762611117,13.0878,80.2785,301.65,79,5.36,"[{'id': 701, 'main': 'Mist', 'description': 'm..."
6,Hyderabad,1762611351,17.3753,78.4744,293.38,68,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h..."
7,Pune,1762611488,18.5196,73.8553,297.64,53,2.70,"[{'id': 800, 'main': 'Clear', 'description': '..."

In [13]:
df_clean["temp_celsius"] = (df_clean["main.temp"] - 273.15).round(1)
df_clean["date_time"] = pd.to_datetime(df_clean["dt"], unit='s')
df_clean

,name,dt,coord.lat,coord.lon,main.temp,main.humidity,wind.speed,weather,temp_celsius,date_time
0,Delhi,1762611180,28.6667,77.2167,294.20,43,1.03,"[{'id': 721, 'main': 'Haze', 'description': 'h...",21.1,2025-11-08 14:13:00
1,Mumbai,1762611360,19.0144,72.8479,302.14,61,3.60,"[{'id': 711, 'main': 'Smoke', 'description': '...",29.0,2025-11-08 14:16:00
2,Jaipur,1762610935,26.9167,75.8167,294.77,35,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h...",21.6,2025-11-08 14:08:55
3,Kolkata,1762611188,22.5697,88.3697,300.12,47,4.12,"[{'id': 721, 'main': 'Haze', 'description': 'h...",27.0,2025-11-08 14:13:08
4,Bengaluru,1762611581,12.9762,77.6033,295.85,67,4.92,"[{'id': 801, 'main': 'Clouds', 'description': ...",22.7,2025-11-08 14:19:41
5,Chennai,1762611117,13.0878,80.2785,301.65,79,5.36,"[{'id': 701, 'main': 'Mist', 'description': 'm...",28.5,2025-11-08 14:11:57
6,Hyderabad,1762611351,17.3753,78.4744,293.38,68,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h...",20.2,2025-11-08 14:15:51
7,Pune,1762611488,18.5196,73.8553,297.64,53,2.70,"[{'id': 800, 'main': 'Clear', 'description': '...",24.5,2025-11-08 14:18:08

In [14]:
df_clean["weather_main"] = df_clean["weather"].apply(lambda x: x[0]["main"])
df_clean["description"] = df_clean["weather"].apply(lambda x: x[0]["description"])
df_clean

,name,dt,coord.lat,coord.lon,main.temp,main.humidity,wind.speed,weather,temp_celsius,date_time,weather_main,description
0,Delhi,1762611180,28.6667,77.2167,294.20,43,1.03,"[{'id': 721, 'main': 'Haze', 'description': 'h...",21.1,2025-11-08 14:13:00,Haze,haze
1,Mumbai,1762611360,19.0144,72.8479,302.14,61,3.60,"[{'id': 711, 'main': 'Smoke', 'description': '...",29.0,2025-11-08 14:16:00,Smoke,smoke
2,Jaipur,1762610935,26.9167,75.8167,294.77,35,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h...",21.6,2025-11-08 14:08:55,Haze,haze
3,Kolkata,1762611188,22.5697,88.3697,300.12,47,4.12,"[{'id': 721, 'main': 'Haze', 'description': 'h...",27.0,2025-11-08 14:13:08,Haze,haze
4,Bengaluru,1762611581,12.9762,77.6033,295.85,67,4.92,"[{'id': 801, 'main': 'Clouds', 'description': ...",22.7,2025-11-08 14:19:41,Clouds,few clouds
5,Chennai,1762611117,13.0878,80.2785,301.65,79,5.36,"[{'id': 701, 'main': 'Mist', 'description': 'm...",28.5,2025-11-08 14:11:57,Mist,mist
6,Hyderabad,1762611351,17.3753,78.4744,293.38,68,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h...",20.2,2025-11-08 14:15:51,Haze,haze
7,Pune,1762611488,18.5196,73.8553,297.64,53,2.70,"[{'id': 800, 'main': 'Clear', 'description': '...",24.5,2025-11-08 14:18:08,Clear,clear sky

In [15]:
def risk(row):
    if row["temp_celsius"] > 40 or row["wind.speed"] > 10:
        return "High"
    return "Low"

df_clean["risk_level"] = df_clean.apply(risk, axis=1)
df_clean

,name,dt,coord.lat,coord.lon,main.temp,main.humidity,wind.speed,weather,temp_celsius,date_time,weather_main,description,risk_level
0,Delhi,1762611180,28.6667,77.2167,294.20,43,1.03,"[{'id': 721, 'main': 'Haze', 'description': 'h...",21.1,2025-11-08 14:13:00,Haze,haze,Low
1,Mumbai,1762611360,19.0144,72.8479,302.14,61,3.60,"[{'id': 711, 'main': 'Smoke', 'description': '...",29.0,2025-11-08 14:16:00,Smoke,smoke,Low
2,Jaipur,1762610935,26.9167,75.8167,294.77,35,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h...",21.6,2025-11-08 14:08:55,Haze,haze,Low
3,Kolkata,1762611188,22.5697,88.3697,300.12,47,4.12,"[{'id': 721, 'main': 'Haze', 'description': 'h...",27.0,2025-11-08 14:13:08,Haze,haze,Low
4,Bengaluru,1762611581,12.9762,77.6033,295.85,67,4.92,"[{'id': 801, 'main': 'Clouds', 'description': ...",22.7,2025-11-08 14:19:41,Clouds,few clouds,Low
5,Chennai,1762611117,13.0878,80.2785,301.65,79,5.36,"[{'id': 701, 'main': 'Mist', 'description': 'm...",28.5,2025-11-08 14:11:57,Mist,mist,Low
6,Hyderabad,1762611351,17.3753,78.4744,293.38,68,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h...",20.2,2025-11-08 14:15:51,Haze,haze,Low
7,Pune,1762611488,18.5196,73.8553,297.64,53,2.70,"[{'id': 800, 'main': 'Clear', 'description': '...",24.5,2025-11-08 14:18:08,Clear,clear sky,Low

In [16]:
df_final = df_clean[[
    "name",
    "dt",
    "coord.lat",
    "coord.lon",
    "main.temp",
    "main.humidity",
    "wind.speed",
    "weather",
    "temp_celsius",
    "date_time",
    "weather_main",
    "description",
    "risk_level"
]]

df_final.rename(columns={
    "name": "city",
    "coord.lat": "lat",
    "coord.lon": "lon",
    "main.humidity": "humidity",
    "wind.speed": "wind_mps"
}, inplace=True)

df_final

,city,dt,lat,lon,main.temp,humidity,wind_mps,weather,temp_celsius,date_time,weather_main,description,risk_level
0,Delhi,1762611180,28.6667,77.2167,294.20,43,1.03,"[{'id': 721, 'main': 'Haze', 'description': 'h...",21.1,2025-11-08 14:13:00,Haze,haze,Low
1,Mumbai,1762611360,19.0144,72.8479,302.14,61,3.60,"[{'id': 711, 'main': 'Smoke', 'description': '...",29.0,2025-11-08 14:16:00,Smoke,smoke,Low
2,Jaipur,1762610935,26.9167,75.8167,294.77,35,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h...",21.6,2025-11-08 14:08:55,Haze,haze,Low
3,Kolkata,1762611188,22.5697,88.3697,300.12,47,4.12,"[{'id': 721, 'main': 'Haze', 'description': 'h...",27.0,2025-11-08 14:13:08,Haze,haze,Low
4,Bengaluru,1762611581,12.9762,77.6033,295.85,67,4.92,"[{'id': 801, 'main': 'Clouds', 'description': ...",22.7,2025-11-08 14:19:41,Clouds,few clouds,Low
5,Chennai,1762611117,13.0878,80.2785,301.65,79,5.36,"[{'id': 701, 'main': 'Mist', 'description': 'm...",28.5,2025-11-08 14:11:57,Mist,mist,Low
6,Hyderabad,1762611351,17.3753,78.4744,293.38,68,2.06,"[{'id': 721, 'main': 'Haze', 'description': 'h...",20.2,2025-11-08 14:15:51,Haze,haze,Low
7,Pune,1762611488,18.5196,73.8553,297.64,53,2.70,"[{'id': 800, 'main': 'Clear', 'description': '...",24.5,2025-11-08 14:18:08,Clear,clear sky,Low

In [17]:
# df_final.rename(columns={
#     "name": "city",
#     "coord.lat": "lat",
#     "coord.lon": "lon",
#     "main.humidity": "humidity",
#     "wind.speed": "wind_mps",
#     "weather_main": "weather"
# }, inplace=True)

# df_final

In [18]:
import os

file_path = "weather_data2.csv"

if os.path.exists(file_path):
    df_final.to_csv(file_path, mode='a', header=False, index=False)
else:
    df_final.to_csv(file_path, index=False)